<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Excel2007Addin.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Excel2007Addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Excel2007Addin.Settings>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemingMeAgainIn" serializeAs="String">
                <value>2011-03-27</value>
            </setting>
            <setting name="RequestTimeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="FirstStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </Excel2007Addin.Settings>
        <Excel2007Addin.Properties.Settings>
            <setting name="RemingMeAgainIn" serializeAs="String">
                <value>2011-04-03</value>
            </setting>
        </Excel2007Addin.Properties.Settings>
    </userSettings>
</configuration>