<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WPFUIv2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <userSettings>
    <WPFUIv2.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value>a</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="RemingMeAgainIn" serializeAs="String">
        <value>2010-12-05</value>
      </setting>
      <setting name="ProxyHost" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
    </WPFUIv2.Properties.Settings>
  </userSettings>
</configuration>
